<h1>    Vote for Movies  </h1>
<div style="display: flex; flex-wrap: wrap">

  <br/>

  <div style= "height: 200x; width: 250px; margin: 25px;">
    <img style = "height: 200px; width: 150px;" src = "../assets/pic1.jpg"/>
    <br/>
    <Button 
    (click) = "onClick($event, 1)"
    [disabled] = "isDisabled(1)">Vote</Button>
    <h3 [hidden] = "isChosen(1)">Chosen!</h3>
  </div>

  <div style= "height: 200x; width: 250px; margin: 25px;">
    <img style = "height: 200px; width: 150px;" src = "https://images.unsplash.com/photo-1675189693075-001096982832?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80"/>
    <br/>
    <Button 
    (click) = "onClick($event, 2)"
    [disabled] = "isDisabled(2)">Vote</Button>
    <h3 [hidden] = "isChosen(2)">Chosen!</h3>
  </div>

  <div style= "height: 200x; width: 250px; margin: 25px;">
    <img style = "height: 200px; width: 150px;" src = "https://images.unsplash.com/photo-1675237292682-9228ef7698b8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80"/>
    <br/>
    <Button 
    (click) = "onClick($event, 3)"
    [disabled] = "isDisabled(3)">Vote</Button>
    <h3 [hidden] = "isChosen(3)">Chosen!</h3>
  </div>

  <div style= "height: 200x; width: 250px; margin: 25px;">
    <img style = "height: 200px; width: 150px;" src = "https://plus.unsplash.com/premium_photo-1671117132182-ec421584dcf1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"/>
    <br/>
    <Button 
    (click) = "onClick($event, 4)"
    [disabled] = "isDisabled(4)">Vote</Button>
    <h3 [hidden] = "isChosen(4)">Chosen!</h3>
  </div>

</div>